.__github-markdown-outline.__github-markdown-outline--float {
  float: right;
  background: #fff;
  width: 15em;
  padding-left: 3em;
  border-left: 3px solid #eee; /* Github light gray */
  margin-left: 16px;
  overflow-x: auto;
}
